.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ff8c00;
}

.logo img {
    height: 50px;
}

.logout-button {
    background-color: #e57c00;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #d17200;
}

.password-container {
    margin: 50px auto;
    width: 50%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-actions {
    text-align: center;
}

.submit-button {
    background-color: #ff8c00;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #e57c00;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
}

.success-message {
    color: green;
    font-weight: bold;
    text-align: center;
}

.footer-container {
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #eee;
}
