
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/header-footer.css}">
</head>
<body>
<div class="header">
    <h1>ExpenseBuddy Admin Dashboard</h1>
    <nav>
        <ul>
            <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/admin/users}">Manage Users</a></li>
            <li><a th:href="@{/admin/expenses}">Manage Expenses</a></li>
            <li><a th:href="@{/admin/profile}">Profile</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</div>
</body>
</html>